# KUCOIN
KUCOIN_BASE_QUOTE_SEPARATOR="-"
KUCOIN_QUOTE_ASSETS=USDT,BTC,ETH,KCS
KUCOIN_NOTIFICATIONS_STRIKE_UNIT_PERCENT=0.05
KUCOIN_REST_API_URL="https://api.kucoin.com"
KUCOIN_NOTIFICATIONS_STRIKE_TIMEOUT_MINS=5
KUCOIN_WEBSOCKET_FORCE_TERMINATE_HRS=6

# TELEGRAM
TELEGRAM_API_URL=https://api.telegram.org
TELEGRAM_BOT_CHAT_ID=
TELEGRAM_BOT_TOKEN_SECRET=

# TRADING
TRADING_NEW_SYMBOL_TIMEOUT_MINS=10
TRADING_TRAILING_SELL_BUMP_INTERVAL_MINS=5
TRADING_TRAILING_SELL_BUMP_PCT=0.01
TRADING_TRAILING_SELL_PCT=0.95
TRADING_USDT_MIN_AMOUNT=500

USER_NAME=